<p-panel class="p-2">
  <ng-template pTemplate="header">
    <h1 class="m-0">Pipes Básicos</h1>
  </ng-template>
  Pipes incluidos en Angular, usualmente en el CommonModule.
</p-panel>

<div class="grid">
  <div class="col-12 sm:col-4">
    <p-card header="uppercase">{{ nameLower | uppercase }}</p-card>
  </div>

  <div class="col-12 sm:col-4">
    <p-card header="lowercase">{{ nameUpper | lowercase }}</p-card>
  </div>

  <div class="col-12 sm:col-4">
    <p-card header="titlecase">{{ fullName | titlecase }}</p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="date">
      <ol class="flex flex-column gap-2">
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date : "d/m/y"</li>
        <li>fecha | date : "d 'de' MMMM 'de' y"</li>
        <li>fecha | date : "short"</li>
        <li>fecha | date : "long"</li>
      </ol>

      <hr />
      <ol>
        <li>fecha | date : "long" : "GMT"</li>
        <li>fecha | date : "long" : "GMT-4"</li>
        <li>fecha | date : "long" : "" : "es-US"</li>
        <li>fecha | date : "long" : "" : "fr-CA"</li>
      </ol>
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="date">
      <ol class="flex flex-column gap-2">
        <li>
          {{ customDate }}
        </li>
        <li>
          {{ customDate | date }}
        </li>
        <li>
          {{ customDate | date : "d/m/y" }}
        </li>
        <li>
          {{ customDate | date : "d 'de' MMMM 'de' y" }}
        </li>
        <li>
          {{ customDate | date : "short" }}
        </li>
        <li>
          {{ customDate | date : "long" }}
        </li>
      </ol>

      <hr />
      <ol>
        <li>{{ customDate | date : "long" : "GMT" }}</li>
        <li>{{ customDate | date : "long" : "GMT-4" }}</li>
        <li>{{ customDate | date : "long" : "" : "es-US" }}</li>
        <li>{{ customDate | date : "long" : "" : "fr-CA" }}</li>
      </ol>
    </p-card>
  </div>
</div>
